.navbar{
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #006199;
    z-index: 1000;
}

/* Div logo */
.logo{
    display: flex;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.3rem;
    font-weight: bold;
}

/* Tópicos */
.nav-links {
    display: flex;
    list-style: none;
}

/* Links clicáveis */
.nav-links a {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 35px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

/* Hover */
.nav-links a:hover {
    background-color: #12345a;
}

/* Página ativa */
.nav-links a.ativo {
    background-color: #38b6ff;
    color: #fff;
}