* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Scroll suave */
html {
    scroll-behavior: smooth;
}

.button{
    color: #006199;
    display: inline-block;
    font-size: 14px;
    padding: 20px 25px;
    border-radius: 6px;
    background-color: white;
    justify-content: center;/* horizontal */
    align-items: center;    /* vertical */
    width: fit-content;
    border: solid 2px;
}

.button a{
    text-decoration: none;
    color: #006199;
}

.button-accept{
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 20px 25px;
    border-radius: 6px;
    background-color: #006199;
    justify-content: center;/* horizontal */
    align-items: center;    /* vertical */
    width: fit-content;
}

.button-accept a{
    text-decoration: none;
    color: white;
}

/* Produtos */


.titulo{
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 20px;
    margin-left: 30px;
}

.sub-titulo{
    color: #006199;
    margin-bottom: 10px;
    font-size: 18px;
}

.titulo h2{
    font-size: 37px;
    margin-bottom: 10px;
}

.titulo-txt{
    color: rgb(171, 163, 163);
}



/* CONTAINER */
.container {
    display: flex;
    
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

/* CARD */
.card {
    width: 320px;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* TOPO */
.card-top {
    background-color: #d4efff;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 40px;
}

/* CONTEÚDO */
.card-content {
    padding: 20px;
}

/* TAG */
.tag {
    background-color: #d4efff;
    color: #006199;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

/* TITULO */
.card-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* TEXTO */
.card-content p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

/* LISTA */
.card-content ul {
    list-style: none;
}

.card-content ul li {
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 18px;
    position: relative;
}

/* BOLINHA VERDE */
.card-content ul li::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #006199;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 6px;
}

/*PLANO*/
.plano{
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 750px;
    background-color: #006199;
    padding: 50px 40px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    height: 230px;
    text-align: center;
}

.plano-title {
    color: white;
    font-size: 50px;
    font-weight: bold; 
}

.plano-txt{
    font-weight: bolder;
    color: #d4efff;
    margin-top: 20px;
}

.button{
    margin-top: 25px;
    background-color: white;
    color: #006199;
    text-decoration: none;
    border-radius: 15px;
}