* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Scroll suave */
html {
    scroll-behavior: smooth;
}

.button{
    color: #006199;
    display: inline-block;
    font-size: 14px;
    padding: 20px 25px;
    border-radius: 6px;
    background-color: #ffffff;
    justify-content: center;/* horizontal */
    align-items: center;    /* vertical */
    width: fit-content;
    border: solid 2px;
}

.button a{
    text-decoration: none;
    color: #006199;
}

.button-acesso{
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 20px 25px;
    border-radius: 6px;
    background-color: #006199;
    justify-content: center;/* horizontal */
    align-items: center;    /* vertical */
    width: fit-content;
}

.button-acesso a{
    text-decoration: none;
    color: white;
}

.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  gap: 40px;
}

.titulo-info{
    max-width: 500px;
}

.titulo-info h1{
    font-size: 74px;
    margin-bottom: 15px;
}

.titulo-info p{
    font-size: 20px;
}


.dashboard-itens {
  width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #d4efff;
  backdrop-filter: blur(10px);
  padding: 20px;
}

.btn-info-item{
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 6px;
    background-color: #006199;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.item{
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  transition: 0.3s;
}

.icone{
    background-color:#d4efff;
    padding: 15px;
    font-size: 28px;
    border-radius: 10px;
}

.item-txt{
  display: flex; 
  flex-direction: column;
  
}

.item-txt h4{
    font-size: 20px;
}

.item-txt p{
    font-size: 15px;
    color: grey;
}

.button-item {
    margin-left: 50px;
    margin-bottom: 40px;
}


.features {
  padding: 60px 80px;
  background-color: #f5f5f5;
}

.subtitulo {
  color: #006199;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.titulo {
  font-size: 42px;
  margin-bottom: 40px;
  color: #111;
}

/* Grid das Cartas */
.cartas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Carta */
.carta {
  background: #e9e9e9;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
}

/* Ícone das cartas */
.icone {
  width: 50px;
  height: 50px;
  background: #d4efff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 22px;
  margin-bottom: 15px;
}

/* Texto das Cartas */
.carta h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.carta p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}